# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
.pytest_cache/

# Node
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PlatformIO / ESP8266
.pio/
.gcc-flags.json

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Output / Data logs
serial_out.txt
*.log
